asn1crypto==0.22.0
asyncio==3.4.3
certifi==2018.10.15
chardet==3.0.4
cryptography==1.9
Django==1.11.16
enum34==1.1.6
gyp==0.1
idna==2.7
ipaddress==1.0.17
keyring==10.4.0
keyrings.alt==2.2
numpy==1.22.0
oauthlib==2.1.0
panda==0.3.1
pandas==0.23.4
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.24.1
pyliblzma==0.5.3
PySocks==1.6.8
pysqlite==1.0.1
python-apt==1.4.0b3
python-dateutil==2.7.3
pytz==2018.5
pyxdg==0.25
requests==2.19.1
requests-oauthlib==1.0.0
rpm-python==4.12.0.2
SecretStorage==2.3.1
six==1.11.0
tweepy==3.6.0
twython==3.7.0
unity-lens-photos==1.0
urlgrabber==3.10.1
urllib3==1.23
youtube-dl==2018.4.3
yum-metadata-parser==1.1.4
